<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
      <add name ="dbConnStr" connectionString="Data source=LAPTOP-AGT30UAM\SQLEXPRESS;Initial Catalog=NJU_F8OOTBALL;Integrated Security=SSPI; Connect Timeout=1" />  
    </connectionStrings>
  
</configuration>